.node {
    display: inline-block;
    height: 31px;
    width: 31px;
    border-radius: 1px;
    transition: background-color 0.3s ease-out;
    outline: 2px solid white;
}

.unvisited {
    background-color: gainsboro;
}

.wall {
    background-color: rgb(33, 61, 78);
}

.start {
    background-color: rgb(65, 158, 65);
}

.end {
    background-color: rgb(206, 65, 76);
}

.visited {
    background-color: darkcyan;
}

.frontier {
    background-color: gold;
}

.path {
    background-color: rgb(243, 116, 194);
}